{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <form method="get">
                        <div class="row mb-4">
                            <div class="input-group">
                                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                                <input name="search" type="text" class="form-control" value="{{ search }}" placeholder="Vakansiya qidirish..." onfocus="focused(this)" onfocusout="defocused(this)">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group mt-2">
                                        <select class="form-control" name="profession_area">
                                            <option value="0" {% if profession_area == 0 %}selected{% endif %}>Hamma yo'nalishlar</option>
                                            {% for prof_area in profession_areas %}
                                            <option value="{{ prof_area.id }}" {% if prof_area.id == profession_area %}selected{% endif %}>{{ prof_area.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mt-2">
                                        <select class="form-control" name="profession">
                                            <option value="0" {% if profession == 0 %}selected{% endif %}>Hamma kasblar</option>
                                            {% for prof in professions %}
                                                <option value="{{ prof.id }}" {% if prof.id == profession %}selected{% endif %}>{{ prof.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><button class="btn btn-success" type="submit">Filter</button></div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for vacancy in page_obj %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
<!--                                    <a href="javascript:;" class="d-block">-->
<!--                                        <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">-->
<!--                                    </a>-->
                                </div>
                                <div class="card-body pt-2">
<!--                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>-->
                                    <a href="javascript:;" class="card-title h5 d-block text-darker">
                                        {{ vacancy.title }}
                                    </a>
                                    <p class="card-description mb-4">
                                        {{ vacancy.description }}
                                    </p>
                                    <div class="author align-items-center">
<!--                                        <img src="./assets/img/kit/pro/team-2.jpg" alt="..." class="avatar shadow">-->
                                        <div class="name ps-3">
                                            <span>{{ vacancy.owner.fullname }}</span>
                                            <div class="stats">
                                                <small>Posted at {{ vacancy.created_at }}</small>
                                            </div>
                                            <div class="stats">
                                                <small>Contact {{ vacancy.owner.phone_number }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="pagination-container justify-content-end mt-4">
                        <ul class="pagination pagination-success">
                            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                <a class="page-link with-prev-row" href="" data-action="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                                </a>
                            </li>

                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number > 5 and forloop.first %}
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="1">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="2">2</a>
                                    </li>
                                    <li class="page-item disabled">
                                      <a class="page-link page-number" href="" data-action="">...</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
                                    </li>
                                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                                {% if page_obj.paginator.num_pages > page_obj.number|add:'5' and forloop.last %}
                                    <li class="page-item page-item">
                                        <a class="page-link page-number" href="" data-action="">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="{{ page_obj.paginator.num_pages|add:'-1' }}">{{ page_obj.paginator.num_pages|add:'-1' }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="{{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                <a class="page-link with-next-row" href="" data-action="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
<script>
    function filterPage(addToPage){
        var page = parseInt($("li.page-item.active a.page-link").html()) + addToPage;

        const urlParams = new URLSearchParams(window.location.search);

        urlParams.set('per_page', 15);
        urlParams.set('page', page);

        window.location.search = urlParams;
    }
    $("a.page-link.page-number").click(function(e){
        e.preventDefault();
        var page = parseInt($(this).html());
        if (parseInt($("li.page-item.active a.page-link").html()) != page){
            filterPage(page - parseInt($("li.page-item.active a.page-link").html()));
        }
    });
    $("a.page-link.with-next-row").click(function(e){
        e.preventDefault();
        filterPage(1);
    });
    $("a.page-link.with-prev-row").click(function(e){
        e.preventDefault();
        filterPage(-1);
    });
</script>
{% endblock javascript %}
